/* ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ */
/* ~~~~~~~~~~ Contact - Template ~~~~~~~~~~ */
/* ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ */

.contact-page-template {
	.contact {
		margin-top: 15px;
		background: #d6d6d6;

		&__content {
			@include fluid-type(17px, 19px);
			@include letter-spacing(25);
			color: #7c7c7c;

			h2 {
				@include letter-spacing(100);
				@extend .underline--dark;
				color: $secondary-color;
			}
		}

		&__forms {
			.gform_wrapper {
				.validation_error {
					color: #e44949;
					border-color: #e44949;
				}

				.gform_body {
					width: 100%;

					.gform_fields {

						.gfield {
							margin-top: 20px;
							padding-right: 0 !important;
							width: 100%;

							&.gfield_error {
								border: none;
								background: transparent;
								padding: 0;

								.ginput_container {
									input,
									textarea {
										border-color: #e44949 !important;
									}
								}
							}

							.gfield_label {
								display: none;
							}

							.ginput_container {
								input,
								textarea {
									@include letter-spacing(25);
									width: 100%;
									padding: 15px !important;
									text-align: center;
									border: none;

									&::-webkit-input-placeholder {
									  color: #7c7c7c;
									}
									&::-moz-placeholder {
									  color: #7c7c7c;
									}
									&:-ms-input-placeholder {
									  color: #7c7c7c;
									}
									&:-moz-placeholder {
									  color: #7c7c7c;
									}
								}

								textarea {
									@include media-breakpoint-up(md) {
										height: 200px;
									}

									@include media-breakpoint-up(lg) {
										height: 220px;
									}
								}
							}

							.gfield_description,
							.validation_message {
								padding: 5px 0 0;
								color: #e44949;
							}
						}
					}
				}

				.gform_footer {
					.gform_button {
						@include primary-font('semibold');
						@include fluid-type(15px, 17px, 1.1);
						@include letter-spacing(25);
						@extend %single-transition;
						margin-left: auto;
						margin-right: auto;
						display: block;
						border: none;
						border-radius: 0;
						min-width: 270px;
						max-width: 100%;
						text-transform: uppercase;
						color: #fff;
						background: $primary-color;
						text-align: center;
						padding: 17.5px;

						&:hover {
							background: darken($primary-color, 10%);
						}
					}
				}
			}
		}
	}

	.visit {
		margin-bottom: 15px;
		padding-top: ($element-space__xs / 1.5);

		@include media-breakpoint-up(sm) {
		    padding-top: ($element-space__sm / 1.5);
		}

		@include media-breakpoint-up(md) {
		    padding-top: ($element-space__md / 1.5);
		}

		@include media-breakpoint-up(lg) {
		    padding-top: ($element-space__lg / 1.5);
		}

		@include media-breakpoint-up(xl) {
		    padding-top: ($element-space__xl / 1.5);
		}

		&__title {
			@include letter-spacing(100);
			color: $secondary-color;
		}

		&__content {
			@include fluid-type(17px, 19px);
			@include letter-spacing(25);
			color: #7c7c7c;
			margin-bottom: ($element-space__xs / 1.5);

			@include media-breakpoint-up(sm) {
			    margin-bottom: ($element-space__sm / 1.5);
			}

			@include media-breakpoint-up(md) {
			    margin-bottom: ($element-space__md / 1.5);
			}

			@include media-breakpoint-up(lg) {
			    margin-bottom: ($element-space__lg / 1.5);
			}

			@include media-breakpoint-up(xl) {
			    margin-bottom: ($element-space__xl / 1.5);
			}

			h3 {
				@include primary-font('semibold');
				@include fluid-type(18px, 20px);
				@include letter-spacing(25);
				text-transform: none;
			}
		}

		.container-fluid {
			padding: 0;

			.acf-map {
				height: 300px;
				margin-top: 0;

				@include media-breakpoint-up(sm) {
					height: 320px;
				}

				@include media-breakpoint-up(md) {
					height: 350px;
				}

				@include media-breakpoint-up(lg) {
					height: 430px;
				}

				@include media-breakpoint-up(xl) {
					height: 480px;
				}

				@include media-breakpoint-up(xxl) {
					height: 540px;
				}
			}
		}
	}
}